<div class="row">

{{#each infoMenu}}

<div class="cold-md-4 text -center">
        <div class="text-center">
                <p>{{name}}</p>
                <img class="pizza" src="./images/{{img}}" alt="alfredo">
                <div class="text-center">
                    <button type="button" class="btn btn-primary" onclick="addToCart({{@index}})">Order</button>
                </div>
        </div>
</div>
{{/each}}
